$primaryColor:#db9800 !default;
$primaryDarkColor:#cd6910 !default; //esta variable es mia para resaltar mas el menu seleccionado, la he tenido que poner en todos los estilos
$primaryTextColor:#191a1c !default;

@import '../../sass/layout/_layout';