$primaryColor:#db9800 !default;
$primaryLightColor:#FEEFD7 !default;
$primaryDarkColor:#cd6910 !default;
$primaryDarkerColor:#CB0521 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';